--extra-index-url https://download.pytorch.org/whl/cu126
torch
healpix-geo @ git+https://github.com/GRID4EARTH/healpix-geo.git@main#subdirectory=python/healpix-geo
git+https://github.com/GRID4EARTH/healpix-plot.git
git+https://github.com/GRID4EARTH/healpix-resample.git
xdggs
